.notification {
    background-color: red;
    border-radius: 100%;
    color: #fff;
    font-size: 9px;
    height: 10px;
    position: relative;
    right: 20px;
    text-align: center;
    top: -28px;
    left: 23px;
    width: max-content;
    z-index: 1;
}

.notification p{
    padding-right: 2px;
    padding-left: 2px;
}

.top-space{
    padding-top: 100px;
}

.cart:hover{
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width)
}

.nav-btn{
    background-color: transparent;
    border: none;
}

.d-flex-card{
    display: flex!important; 
    justify-content: space-between;
    align-items: center
}

.m-form{
    margin-right: 10px;
}

@font-face {
    font-family: 'CrilleeBoldItalicStdRegular';
    src:  url('./Fonts/Crillee\ Bold\ Italic\ Std\ Regular.otf');

} 
.spiderPrimaryFont{
  font-family: 'CrilleeBoldItalicStdRegular';
} 