.notification {
    background-color: red;
    border-radius: 100%;
    color: #fff;
    font-size: 9px;
    height: 10px;
    position: relative;
    right: 20px;
    text-align: center;
    top: -28px;
    left: 23px;
    width: max-content;
    z-index: 1;
}

.notification p{
    padding-right: 2px;
    padding-left: 2px;
}

.top-space{
    padding-top: 30px;
}

.cart:hover{
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width)
}

.nav-btn{
    background-color: transparent;
    border: none;
}

.products{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(
        auto-fit, 
        minmax(
            300px,
            1fr
        )
    );
    gap: 16px;
    padding: 0px 32px 0px 32px;
}

.product-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
}

.d-flex-card{
    display: flex!important; 
    justify-content: space-between;
    align-items: center
}

.m-form{
    margin-right: 10px;
}

@font-face {
    font-family: 'CrilleeBoldItalicStdRegular';
    src:  url('./Fonts/Crillee\ Bold\ Italic\ Std\ Regular.otf');

} 
.spiderPrimaryFont{
  font-family: 'CrilleeBoldItalicStdRegular';
} 
@media screen and (max-width:430px) {
    .home-img{
        width: -webkit-fill-available;
     }
}
/* 
body{
    background-image: url("https://i.pinimg.com/originals/8c/06/17/8c0617017ae715c5ffe0817d53cdcf00.jpg");
} */