.page-content {
    display: flex;
    flex-direction: column;
    min-height: 87vh;
}
.offcanvasStyle {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    z-index: 1; 
}

.footer-style{
    margin-top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border-top: #fff solid 2px;
    background-image: linear-gradient( to left,  rgba(0,0,0,1) 9.2%, rgb(196, 2, 2) 103.9% );
}

.notification {
    background-color: red;
    border-radius: 100%;
    color: #fff;
    font-size: 9px;
    height: 10px;
    position: relative;
    right: 20px;
    text-align: center;
    top: -28px;
    left: 23px;
    width: max-content;
    z-index: 1;
}

.notification p{
    padding-right: 2px;
    padding-left: 2px;
}

.top-space{
    padding-top: 30px;
}

.navbar{
    border-bottom: white solid 2px;
}

.nav-btn{
    background-color: transparent;
    border: none;
}

.card{
    background-image: linear-gradient( to left,  rgba(0,0,0,1) 9.2%, rgb(196, 2, 2) 103.9% );
    border: 2px solid white !important;
}

.card-body{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.cart:hover{
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width)
}

.products{
    display: grid;
    grid-template-columns: repeat(
        auto-fit, 
        minmax(
            300px,
            1fr
        )
    );
    gap: 16px;
    padding: 0px 32px 0px 32px;
}

.product-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
}

.d-flex-card{
    display: flex!important; 
    justify-content: space-between;
    align-items: center
}

.m-form{
    margin-right: 10px;
}

@font-face {
    font-family: 'CrilleeBoldItalicStdRegular';
    src:  url('./Fonts/Crillee\ Bold\ Italic\ Std\ Regular.otf');

} 
.spiderPrimaryFont{
  font-family: 'CrilleeBoldItalicStdRegular';
  color: #fff;
} 

.style-loading{
    font-family: 'CrilleeBoldItalicStdRegular';
    color: #fff;
} 

.decrementBtn:hover{
    color: #000
}

@media screen and (max-width:430px) {
    .home-img{
        width: -webkit-fill-available;
     }
}

.gradient-style{
    background-image: linear-gradient( to left,  rgba(0,0,0,1) 9.2%, rgb(196, 2, 2) 103.9% );
}

.cartItem{
    background-color:black;
    border: 2px solid gray;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cartItemText{
    padding-left: 8px;
}

.dropdown-menu.show{
    background-image: linear-gradient( to left,  rgba(0,0,0,1) 9.2%, rgb(196, 2, 2) 103.9% );
    border: 2px solid white;
    width: 260px;
}

.itemResult{
    background-image: linear-gradient( to left,  rgba(0,0,0,1) 9.2%, #2D3436 103.9% );
    border: 1px solid white;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: -webkit-fill-available;
}

.imgStyle{
    border: 1px solid white;
    border-radius: 6px;
}

.noUnderline{
    text-decoration: none;
}

.categoryStyle p:hover{
    color:black
}

.itemResultText{
    color: white;
    padding-left: 8px;
}

.flexCheckout{
    display: flex!important;
    flex-direction: column;
    align-items: center;
}

.icon-styles a{
    color:#fff
}

.icon-styles a:hover{
    color:#000
}